/* Define the custom fonts (DMSans) */
@font-face {
  font-family: 'DMSans';
  src: url('/fonts/static/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;  /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;  /* Medium weight */
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/public/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/public/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Root styles */
:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  
  /* Yellow Colors */
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  
  font-family: 'DMSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Body */
body {
  font-family: 'DMSans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Headings */
h1 {
  font-family: 'DMSans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
}

/* Buttons */
button {
  font-family: 'DMSans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}